.cards,
ul.cards {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  grid-gap: 1.75em;
  .card {
    background: rgba(0, 0, 0, 0.2);
    .card-inner {
      padding: 2rem;
    }
    p {
      margin-bottom: 0;
    }
    a {
      display: block;
      height: 100%;
      position: relative;
      &:after {
        font-size: 85%;
        content: " more ❯";
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
      }
    }
  }
}
